*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    position: relative;
    display: flex;
    height: 60px;
    width: 100%;
}

.navbar-ul{
    padding: 5px;
    gap: 15px;
    position: relative;
    left: 100px;
    display: flex;
}


.menu-icon{
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.menu-icon div{
    width: 30px;
    height: 5px;
    background-color: black;
}

.button{
    position: relative;
    left: 200px;
    bottom: 40px;
}




@media(min-width: 700px){
    .menu-icon{
        display: none;
    }
}
@media(max-width: 700px){
    .navbar-ul{
        z-index: 1;
        position: absolute;
        top: 60px;
        left:0;
        flex-direction: column;
        width: 200px;
        height: 270px;
        display: none;
    }
    .show{
        display: flex;
    }
}







